
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

header{
    font-size: 4rem;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: #262527;
    overflow:hidden;
    color:white;
  }
.form-container{
width: 100%;
color: #fae881;
overflow:hidden;
}
#form{
padding-top: 2rem;
 display: flex;
 flex-direction: column;
 align-items: center;
}
#form input,button{
    width: 30rem;
    margin: 1rem;
    font-size: 2rem;
    border-radius: .5rem;
}
#form input{
    padding: 1rem;
}
#form button {
    cursor: pointer;
    transition: all .3s ease;
    border: none;
}
#meme-section-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#form button:hover{
    background:#003366;
    color:white;
}
.meme-container{
position: relative;
max-width: 35rem;
margin: 1rem;
}
img{
    display: block;
    width: 100%;
    border-radius: 2rem;
}
.word-container{
position: absolute;
left:0;
top:0;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items:center;
padding: 1rem 0;
font-size: 2em;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
    border-radius: 2rem;
}
.overlay-text {
    color: black;
    font-size: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.meme-container:hover .overlay{
    opacity: .5;
}