
.meme-section-container{
background-color: antiquewhite;
display: flex;
flex-wrap: wrap;
}
.meme-container{
    height: 30%;
    width: 30%;
    background-color: black;
    margin: 2rem;
    min-width: 30rem;
    max-width: 50rem;
}
.word-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

img{
 width: 100%;
}
h1{
    position: absolute;
    background-color: aqua;
    font-size: 2em;
}
.top{
    top:0;
}
.bottom{
    top:500px;
}

